<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" executionTimeout="300" />
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>

	<appSettings>
		<add key="con" value="Data Source=localhost;Initial Catalog=projectdb;Integrated Security=True;Encrypt=False" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>